@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --primary-color: #FECACA;
    --secondary-color: #312E81;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

nav{
    border: 1px solid #FECACA;
    background-color: #FECACA;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

nav h2{
    color: var(--secondary-color);
}

.no-bullets{
    list-style: none;
    text-align: right;
}

.list-item{
    display: inline;
    padding-right: 1rem;
}

.links{
    text-decoration: none;
    font-size: 18px;
    color: var(--secondary-color);
}

.current{
    font-weight: bolder;
}

.hyp-container{
    display: flex;
    flex-direction: column;
}

.hyp-container .header1{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.hyp-container .input-val{
    width: 10vw;
    margin: auto;
    margin-bottom: 2rem;
    height: 30px;
    border-radius: 0.5rem;
}

.hyp-container .input-val2{
    width: 10vw;
    margin: auto;
    margin-bottom: 1rem;
    height: 30px;
    border-radius: 0.5rem;
}

.hyp-container .hyp-label{
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5rem;
    font-size: large;
    color: var(--secondary-color);
}

.formula-desc{
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.formula{
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.hyp-container #btn-hyp{
    margin-top: 1.5rem;
    display: block;
    margin: auto;
    width: 10vw;
    height: 40px;
    font-weight: bolder;
    border-radius: 0.7rem;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    background-color: var(--primary-color);
}

#hans{
    margin: auto;
    font-weight: bolder;
    padding : 1rem 0rem;
}

footer p{
    padding-top: 2rem;
    text-align: center;
}
